<!-- views/partials/header.ejs -->

<link href="stylesheets/style.css" rel="stylesheet" type="text/css">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
               
            </a>
            <div class="test">
            <ul class="nav navbar-nav text-center">

                <div class="container"> 
                    <div class="row"> 
                             
                    
                    <div class="col-lg-4"<li><a href="/">Home</a></li></div>
                    
                    <div class="col-lg-4"<li><a href="/uploadData">Create List</a></li></div>

                    <div class="col-lg-4"<li><a href="/new">Display List</a></li></div>
                </ul> 
            </div>     
                   
                   
        </div>
    
    </div>
    </nav>