<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    
    <% include ../partials/head %>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
 
  <div class="jumbotron">
     
    <div class="p-3 mb-2 bg-warning text-dark">
      <h1 class="text-center">Create Your Own Grocery List App</h1>

</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>